<div class="container">
    <div class="m-container">
        <div class="section mt-30">
            <strong>Trending</strong>
        </div>
        <div class="card-container">
            @for (item of data; track $index) {
            <div class="card">
                <div class="detail">
                    <strong>{{item.title}}</strong>
                    <div class="description">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="section mt-30">
            <strong>Cartoon</strong>
        </div>
        <div class="card-container">
            @for (item of data; track $index) {
            <div class="card">
                <div class="detail">
                    <strong>{{item.title}}</strong>
                    <div class="description">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="section mt-30">
            <strong>Horror</strong>
        </div>
        <div class="card-container">
            @for (item of data; track $index) {
            <div class="card">
                <div class="detail">
                    <strong>{{item.title}}</strong>
                    <div class="description">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="section mt-30">
            <strong>Adventure</strong>
        </div>
        <div class="card-container">
            @for (item of data; track $index) {
            <div class="card">
                <div class="detail">
                    <strong>{{item.title}}</strong>
                    <div class="description">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>