
.container {
    width: 100%;
    max-width: none;
    display: block;
    padding: 20px 30px;
    box-sizing: border-box !important;
    box-shadow: unset !important;
    max-width: unset !important;

    @media only screen and (max-width: 800px) {
        padding: 16px;
    }

    .m-container {
        border-radius: 10px;
        padding: 15px 20px;
        background-color: inherit;
    }

    .bg-normal {
        background-color: #FFFFFF;
    }

    .no-bg {
        background-color: none !important;
    }

    .bg-dialog-action {
        background-color: #0000000F;
    }

    .title {
        color: #d11a1a;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.36px;
        padding-bottom: 3px;
    }

    .btn-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        right: 35px;
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
