<div class="container">
  <div class="m-container">
    <form>
      <mat-form-field class="full-width">
        <input type="email" matInput [formControl]="searchCtrl" (keydown.enter)="onSearch($event)" placeholder="Title...">
      </mat-form-field>
    </form>
    @for (item of data; track $index) {
      <div class="sub-card">
        <img class="sub-image" [src]="_staticFile.transform(item?.file?._id)" alt="image">
        <div class="paragraph">
          <p>{{item?.title}}</p>
          <p>{{item?.description}}</p>
          <p>Authur: {{item?.author}}</p>
          <p>⭐⭐⭐⭐⭐</p>
        </div>
      </div>
    }
  </div>
</div>